.toast {
  position: fixed;
  inset-block-start: 50px;
  inset-inline-start: 50%;
  z-index: 10;

  padding: 12px;

  background: #ff696a;
  border-radius: 30px;

  color: white;
  font:
    700 22px / 100% Inter,
    sans-serif;
  text-align: center;
  letter-spacing: 0;

  transform: translateX(-50%);
}
