$button-width: 95px;
$button-height: 30px;

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button {
  inline-size: $button-width;
  block-size: $button-height;
  font:
    400 15px/1 Inter,
    sans-serif;
}
