$button-width: 95px;
$button-height: 30px;
$button-radius: 10px;
$no-active-background: #D9D9D9;
$active-background: #C4D7FF;
$text-color: #000;

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.default {
    inline-size: $button-width;
    block-size: $button-height;
    padding: 0;

    border: none;
    border-radius: $button-radius;

    color: $text-color;
    font: 400 15px/1 Inter, sans-serif;
    text-align: center;

    cursor: pointer;
}

.active-pair {
    background-color: $active-background;
}

.noactive-pair {
    background-color: $no-active-background;
}